<!DOCTYPE html>
<html lang="en">
<head>
<title> Bootstrap SORT table Example </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
</head>
<body>
<div class="container" style="width:100%";>
<h2> Bootstrap Sort Table </h2>
<table class="table table-striped table-bordered" id="sortTable">
<thead>
    <tr>
        <th>ID</th>
        <th>EmpId</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>DOB</th>
        <th>Gender</th>
        <th>Phone Number</th>
        <th>Position</th>
        <th>Action</th>
    </tr>
</thead>
<tbody>
<!--    {% for row in listEmp %}-->
<!--    <tr>-->
<!--        <td>{{ row._id }}</td>-->
<!--        <td>{{ row.id }}</td>-->
<!--        <td>{{ row.name}}</td>-->
<!--        <td>{{ row.email }}</td>-->
<!--        <td>{{ row.address }}</td>-->
<!--        <td>{{row.address}}</td>-->
<!--        <td>{{ row.gender }}</td>-->
<!--        <td>{{ row.phoneNumber }}</td>-->
<!--        <td>{{ row.position }}</td>-->
<!--          <td>aaaa</td>-->
<!--    </tr>-->
<!--    {% endfor %}-->
    {%for i in range(0, len)%}
    <tr >
        <td>{{ i +1}}</td>
        <td>{{ listEmp[i].id }}</td>
        <td>{{ listEmp[i].name}}</td>
        <td>{{ listEmp[i].email }}</td>
        <td>{{ listEmp[i].address }}</td>
        <td>{{listEmp[i].address}}</td>
        <td>{{ listEmp[i].gender }}</td>
        <td>{{ listEmp[i].phoneNumber }}</td>
        <td>{{ listEmp[i].position }}</td>
        <td >
            <p onclick="window.location.href='{{ url_for('update_employee',  id = listEmp[i].id ) }}';">Edit</p>
            <p onclick="window.location.href='{{ url_for('delete_employee',  id = listEmp[i].id ) }}';">delete</p>
        </td>
    </tr>
    {% endfor %}
</tbody>
<tfoot>
    <tr>
        <th>ID</th>
        <th>EmpId</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>DOB</th>
        <th>Gender</th>
        <th>Phone Number</th>
        <th>Position</th>
        <th>Action</th>
    </tr>
</tfoot>
</table>
</div>
<script>
$('#sortTable').DataTable();
</script>
</body>
</html>