<!DOCTYPE html>
<html lang="en">
<head>
<title> Bootstrap SORT table Example </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/owl.carousel.min.css') }}">

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}">

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">


</head>
<body>
    <header class="site-navbar" role="banner">
      <div class="container-fluid menu" >
          <div class="container">
              <div class="row">
              <div class="col-1 ">
<!--                  <h1> Brand</h1>-->
              </div>
                 <div class="col-1 " style="padding-top: 5px;">
<!--                  <h1 style="color: white"> Brand</h1>-->
                  <img  src = "/static/images/logo.png">
              </div>

              <div class="col-5">
                <nav class="site-navigation position-relative text-right" role="navigation">
                  <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                    <li><a href="{{ url_for('list_employees') }}" ><span>Employees</span></a></li>
                    <li><a href="{{ url_for('list_attendance') }}" ><span>Attendance</span></a></li>
                  </ul>
                </nav>
              </div>

              <div class="col-5">
                <nav class="site-navigation position-relative text-right" role="navigation">
                  <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                    <li style="pointer-events: none"><a href="{{ url_for('list_attendance') }}" ><span>21599</span></a></li>
                    <li><a href="#" ><span>LogOut</span></a></li>
                  </ul>
                </nav>
              </div>
          </div>
          </div>
      </div>

      <div class="container">
        <div class="row ">
          <div class="col-12 " style="margin-top: 120px">
            <h2 style="color: white"> List Attendances </h2>

    <table class="table table-striped table-bordered " style="background-color: white!important;" id="sortTable">
    <thead>
       <tr>
            <th>No.</th>
            <th>Date</th>
            <th>EmpID</th>
            <th>Name</th>
            <th>Mask</th>
            <th>CheckIn</th>
            <th>CheckOut</th>
        </tr>
    </thead>
    <tbody>

        {%for i in range(0, len)%}
            {% if( listAttendance[i].empDetail |length  > 0) %}
                <tr >
                    <td>{{ i +1}}</td>
                    <td>{{ listAttendance[i].date }}</td>
                    <td>{{ listAttendance[i].userId}}</td>
                    <td>{{ listAttendance[i].empDetail[0].name }}</td>
                    <td>{{ listAttendance[i].mask }}</td>
                    <td>{{ listAttendance[i].checkIn}}</td>
                    <td>{{ listAttendance[i].checkOut }}</td>
                </tr>
            {%endif%}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>No.</th>
            <th>Date</th>
            <th>EmpID</th>
            <th>Name</th>
            <th>Mask</th>
            <th>CheckIn</th>
            <th>CheckOut</th>
        </tr>
    </tfoot>
    </table>
          </div>


          <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>

    </header>
        <div class="hero" style="background-image: url('/static/images/image2.jpeg'); height: 1500px; opacity: 0.8;  background-attachment: fixed; background-size: cover;  "></div>

<script type="text/javascript" src="{{ url_for('static',filename='styles/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='styles/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='styles/jquery.sticky.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='styles/main.js') }}"></script>

<script>
$('#sortTable').DataTable();
</script>
<script>
        $(function () {
  $(document).scroll(function () {
    var $nav = $(".menu");
    $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
  });
});
    </script>
</body>
</html>